In [2]:
# Assignent - 1

In [4]:
# Q1.

In [11]:
# 1
string = "Alok"
print(string)

Alok

In [10]:
# 2
list = [3,5,7, 'anant' , 4.5 ,'kushagra']
print(list)

[3, 5, 7, 'anant', 4.5, 'kushagra']

In [9]:
# 3
float = 7.8 
print(float)

7.8

In [13]:
# 4
tuple = (4,7,8, 'vishnu')
print(tuple)

(4, 7, 8, 'vishnu')

In [14]:
# Q2.

In [15]:
# 1
var1 = ''
type(var1)

str

In [16]:
# 2
var2 = '[DS ,ML ,Python]'
type(var2)

str

In [4]:
# 3
var3 = ['DS' , 'ML' , 'Python']
type(var3)
print(var3)

['DS', 'ML', 'Python']

In [18]:
# 4
var4 = 1
type(var4)

int

In [20]:
# Q3.

# 1
"/" -: This is the division operator in the 
python which is used to perform mathematical division operations between numbers.
Ex -:

In [23]:
result = 10/5
print(result)

2.0

# 2
"%" -: This is the modulus operator in python . It returns the remainder when one number(dividend) is divided by another number(divisor).
Ex -:

In [24]:
x = 5%2
print(x)

1

# 3
"//" -: This is the floor division operator in python. it performs the division between two numbers and returns the output to the nearest integer value.
Ex -:

In [26]:
a = 10//3
print(a)

3

# 4
"**" -: This is the exponentiation operator in python . It is used to raise a number to a power.
EX -:

In [11]:
result = 2**3
print(result)

8

In [ ]:
# Q 4.

In [10]:
list = [3, 4,5, 6, "alok" , "anand" , "akash" , "rahul" , 0 , 2]
print(len(list))
for i in list:
    print(i , type(i))

10
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
alok <class 'str'>
anand <class 'str'>
akash <class 'str'>
rahul <class 'str'>
0 <class 'int'>
2 <class 'int'>

In [12]:
# Q 5

In [31]:
a= int(input("Enter the number\n"))
b= int(input("Enter the number\n"))
count =0
while(a%b==0):
    a = a//b
    count = count+1
    # print(count)

print(count)

Enter the number
 100
Enter the number
 10

2

In [ ]:
# Q 6.

In [10]:
list =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print(list)
for i in list:
    if(i%3==0):
        print(i)
    else:
        print(f"{i} This element is not divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 This element is not divisible by 3
2 This element is not divisible by 3
3
4 This element is not divisible by 3
5 This element is not divisible by 3
6
7 This element is not divisible by 3
8 This element is not divisible by 3
9
10 This element is not divisible by 3
11 This element is not divisible by 3
12
13 This element is not divisible by 3
14 This element is not divisible by 3
15
16 This element is not divisible by 3
17 This element is not divisible by 3
18
19 This element is not divisible by 3
20 This element is not divisible by 3
21
22 This element is not divisible by 3
23 This element is not divisible by 3
24
25 This element is not divisible by 3

In [11]:
# Q 7.

# Immutable objects -:
immutable objects in object oriented programms are the object which can't be modified after they are created , if we try to modify them
a new object will be created. Ex-:
strings ,integers,tuples etc.
# Mutable objects -:
Mutable objects in python are the objects in object oriented programs that can be modified after they are created , they can be modified easily and object will be the same. Ex-:
list , dictionary etc.